<div class="container">
  <h1>Angular Pipes</h1>

<!--  <p>-->
<!--    {{ str | uppercase | lowercase | titlecase}}-->
<!--  </p>-->

<!--  <p>-->
<!--    {{ e | number:'3.1-2' }}-->
<!--  </p>-->

<!--  <p>-->
<!--    {{ date | date:"fullDate"}}-->
<!--  </p>-->

<!--  <p>{{ float }}</p>-->
<!--  <p>{{ float | currency }}</p>-->
<!--  <p>{{ float | percent }}</p>-->

<!--  <pre>{{ obj | json}}</pre>-->

<!--  <p>-->
<!--    {{ 10 | mult }}-->
<!--  </p>-->

<!--  <p>{{ 'Hello World!   ' | exMarks}}</p>-->

<!--  <button class="btn" (click)="searchField = 'title'">Title</button>-->
<!--  <button class="btn" (click)="searchField = 'text'">Text</button>-->

<!--  <hr>-->

<!--  <button class="btn" (click)="addPost()">Добавить новый пост</button>-->

<!--  <input type="text" [(ngModel)]="search">-->

<!--  <div-->
<!--    *ngFor="let post of posts | filter:search:searchField"-->
<!--    class="card"-->
<!--  >-->
<!--    <h2>{{ post.title }}</h2>-->
<!--    <p>{{ post.text }}</p>-->
<!--  </div>-->

  <p>Wait for is ...{{ p | async }}</p>

  <p>Date: {{ date | async | date:'HH:mm:ss yyyy'}}</p>

</div>
